* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  background: url(https://t3.ftcdn.net/jpg/02/95/39/78/360_F_295397802_4KpfNDcU9OdsPW22vRh6sHRiL2XidI0Y.jpg);
  background-size: cover; /* Rasmi to'liq ekranga sig'masligini ta'minlash */
  background-position: center center; /* Rasmi markazga joylash */
  background-repeat: no-repeat; /* Rasmi takrorlamasligini ta'minlash */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern", "liga", "clig", "calt", "calt", "liga", "kern";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "calt", "liga",
    "kern";
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "calt", "liga",
    "kern";
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav h1 {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 23px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 1px solid #d1d0d0;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #eee;
  color: #333;
  border: 1px solid #d1d0d0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out;
  border: 3px solid #22d467;
  border-radius: 10px;
}

img {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  border-radius: 10px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}
p {
  font-size: 20px;
  font-weight: 600;
  color: #2b2b2b;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 3px solid #22d467;
  border-radius: 10px;
}
.logo img {
  width: 150px;
  height: 100px;
  border: 3px solid #22d467;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 10px;
}
